assignment0/build_rel
assignment0/build_dbg
assignment0/build
assignment1/build_rel
assignment1/build_dbg
assignment1/build
assignment2/build_rel
assignment2/build_dbg
assignment2/build
assignment3/build_rel
assignment3/build_dbg
assignment3/build
assignment4/build_rel
assignment4/build_dbg
assignment4/build